.nav {
  height: 150px!important;
}
#loginModal {
  display: none!important;
}
.modal-backdrop.in {
  display: none!important;
}
/* .logo {
  display: none!important;
} */
.nav ul li:hover a {
  color: red!important;
}
.warpper {
  padding: 150px 0 0 0!important;
}